[submodule "Voyager/vendor/spdlog"]
	path = Voyager/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Voyager/vendor/GLFW"]
	path = Voyager/vendor/GLFW
	url = https://github.com/thecherno/glfw
[submodule "Voyager/vendor/glm"]
	path = Voyager/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Voyager/vendor/imgui"]
	path = Voyager/vendor/imgui
	url = https://github.com/pstrimar/imgui
