[submodule "Voyager/vendor/spdlog"]
	path = Voyager/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Voyager/vendor/GLFW"]
	path = Voyager/vendor/GLFW
	url = https://github.com/thecherno/glfw
